.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 300px;
}

.fighter-preview__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.fighter-preview__info {
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
}
